/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1199px;
  margin: auto;
}

/* START HEADER */

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  align-content: center;
}

.header__nav ul {
  display: flex;
  margin-right: 30px;
}

.header__content li {
  list-style: none;
  /* display: inline; */
  padding: 55px 15px;
}

.header__content li a {
  font-size: 15px;
  color: #070120;
  font-weight: 700;
  text-decoration: none;
}

.header__content span {
  /* display inline-block để chạy được animation */
  display: inline-block;
}

.header__content span:hover {
  color: #f55f8d;
  transition: all 5s;
  animation: uptodown 0.5s;
}

.header__content a i {
  font-size: 12px;
  color: #070120;
}

.nav__button {
  display: flex;
  align-items: center;
}

.btn-gradient {
  padding: 20px 35px;
  font-size: 15px;
  /* font-weight: 700; */
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: 1px solid transparent;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}

.btn-gradient:hover {
  background-position: right center;
}

/* animation cho the span - nav*/
@keyframes uptodown {
  49% {
    transform: translateY(100%);
  }

  50% {
    opacity: 0;
    transform: translateY(-100%);
  }

  51% {
    opacity: 1;
  }
}

/* END HEADER */

/* START CAROUSEL */
.sacarousel {
  background-image: url(../img/pic2.png);
  background-position: top;
  padding-top: 180px;
  background-size: 100%;
  overflow: hidden;
}

.sacarousel__content {
  display: flex;
  align-items: center;
}

.sacarousel__left {
  width: 60%;
}

.sacarousel__title p {
  font-size: 22px;
  color: #f55f8d;
  margin-bottom: 20px;
  font-weight: 600;
}

.sacarousel__title h1 {
  font-size: 70px;
  color: #262626;
  margin-bottom: 20px;
  font-weight: 700;
}

.sacarousel__article p {
  font-size: 18px;
  color: #636363;
  margin-bottom: 15px;
  font-weight: 400;
}

.sacarousel__article ul {
  margin-bottom: 20px;
}

.sacarousel__article li {
  list-style: none;
  color: #636363;
  font-weight: 400;
  padding: 10px 5px 10px 0;
  font-size: 20px;
}

.sacarousel__article i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: white;
  font-size: 24px;
  border-radius: 35px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  margin-right: 10px;
}

.sacarousel__right {
  width: 40%;
}

.sacarousel__img {
  width: 570px;
  margin-left: 50px;
}

/* END CAROUSEL */

/* START SERVICE */
.service {
  padding-top: 115px;
  background-image: url(../img/bg2.png);
  background-size: cover;
  background-position: top center;
  padding-bottom: 0;
}

.service__title p {
  text-align: center;
  color: #f55f8d;
  font-size: 22px;
  font-weight: 700;
}

.service__title h1 {
  text-align: center;
  color: #262626;
  font-size: 70px;
  font-weight: 700;
}

.service__card {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  margin-top: 40px;
}

.card__item {
  padding: 30px 45px;
  background: #fff;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  transform: translateY(0);
  transition: all 0.5s;
}

.card__item:hover {
  transform: translateY(-20px);
}

.service__card .img {
  width: 215px;
}
.card__item h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
  margin: 15px 0;
}

.card__item p {
  line-height: 1.6;
  font-weight: 400;
  color: #636363;
}

/* END SERVICE */

/* START ABOUTUS */
.aboutus {
  background-image: url(../img/bg15.png);
  background-position: center right;
  background-repeat: no-repeat;
  padding-bottom: 85px;
  padding-top: 115px;
  background-size: 100%;
  overflow: hidden;
}

.aboutus__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.aboutus__left {
  width: 60%;
  position: absolute;
  left: -17%;
}

.aboutus__left .aboutus__img img {
  width: 100%;
  border-radius: 0 100px 100px 0;
}

.aboutus__right {
  width: 50%;
}

.aboutus__right .title p {
  font-size: 22px;
  color: #f55f8d;
  margin-bottom: 15px;
  font-weight: 600;
}

.aboutus__right h1 {
  font-size: 70px;
  color: #262626;
  margin-bottom: 20px;
  font-weight: 800;
  line-height: 1.1;
}

.aboutus__article li {
  list-style: none;
  display: list-item;
}

.aboutus__article p {
  color: #636363;
  margin-bottom: 15px;
  font-weight: 400;
  line-height: 1.6;
}

.aboutus__article ul {
  color: #636363;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 1.6;
}


.aboutus__article i {
  color: #f55f8d;
  font-size: 24px;
  margin-right: 10px;
  vertical-align: middle;
}

/* END ABOUTUS */

/* START NUMBER */
.number {
  padding: 80px 0 50px;
  text-align: center;
  background-image: url(../img/bg14.png);
  background-repeat: no-repeat;
  background-position: center;
}

.number__content {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.number__item {
  width: 25%;
}

.number__item i {
  font-size: 45px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  /* phải khai báo display: inline-block thì mới chỉnh sửa được width và height của thẻ i */
  margin-bottom: 15px;
}

.number__item h2 {
  font-size: 65px;
  color: #f55f8d;
  font-weight: 800;
  line-height: 1;
}

.number__item p {
  color: #262626;
  font-size: 18px;
}

/* END NUMBER */

/* START FEATURE */
.feature {
  background-image: url(../img/bg2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-top: 115px;
  padding-bottom: 0;
}

.feature__content {
  display: flex;
}
.features__left,
.features__right {
  width: 50%;
}

/* xử lý phần title */
.features__left .title p {
  color: #f55f8d;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.features__left .title h2 {
  color: #262626;
  font-size: 70px;
  font-weight: 800;
  margin-bottom: 20px;
  line-height: 1.1;
}

/* xử lý phần left */
.features__left {
  width: 50%;
}

.features__item {
  padding: 0 50px 30px 0;
}

.features__item:nth-of-type(2){
  padding: 0 0 30px 50px;
}

.features__item i {
  font-size: 80px;
  color: #f55f8d;
  line-height: 1;
  z-index: 1;
  transition: all 1s;
}

.features__item h3{
    color: #262626;
    font-size: 1.5rem;
    font-weight: 800;
    transition: all 1s;
}

.features__bg .detail{
  z-index: 1;
  padding-left: 25px;
  transition: all 1s;
}

.features__item p{
    color: #262626;
    font-size: 0.9rem;
    font-weight: 400;
    transition: all 1s;
}

.features__bg {
  display: flex;
  align-items: center;
  position: relative;
  padding: 30px;
  transition: all 1s;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
}

.features__bg::after{
  content: "";
  background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
  background-size: 200%;
  position: absolute;
  opacity: 0;
  transition: all 1s;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}

.features__bg:hover::after{
  opacity: 1;
}

.features__bg:hover i,
.features__bg:hover h3,
.features__bg:hover p {
  color: #fff;
}

/* xử lý cho phần right */
.features__right {
  width: 50%;
}

.features__banner{
  margin-right: -80px;
}

.features__banner img{
  max-width: 100%;
  animation: move2 5s infinite;
}

@keyframes move2{
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }

  50% {
    transform: rotate(-1deg) translate(-2px, 2px);
  }

  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}

/* END FEATURE */

/* START PORTFOLIO */
.portfolio {
  background-image: url(../img/bg17.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-top: 115px;
}

.portfolio__title p {
  color: #f55f8d;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}

.portfolio__title h2 {
  color: #262626;
  font-size: 70px;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 20px;
}

.portfolio__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
}

.portfolio__item {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.portfolio__item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}
.portfolio__item:hover::before {
    left: 125%;
}

.portfolio__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio__item1 {
  grid-column: 1/3;
}

.portfolio__item5 {
  grid-column: 1/3;
}
.portfolio__item6 {
  grid-column: 3/4;
  grid-row: 2/4;
}

/* xử lý phần overlay */
.portfolio__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  top: 0;
  left: 0;
  transition: all 0.75s;
}
.portfolio__item:hover .portfolio__overlay{
    opacity: 1;
}

.portfolio__icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;
  color: #fff;
  font-size: 28px;
  cursor: pointer;

  transform: translate(20px, -20px);
  transition: all 0.75s;
}

.portfolio__item:hover .portfolio__icon {
  transform: translateZ(20px);
}

.portfolio__text {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
  transform: translateY(150px);
  transition: all 0.75s;
}
.portfolio__item:hover .portfolio__text {
    transform: translateY(0);
    color: #fff;
}

.portfolio__text h3 {
  font-size: 15px;
  font-weight: 800;
  color: #fff;
}
.portfolio__text p {
  margin-top: 0;
  margin-bottom: 1rem;
}


/* END PORTFOLIO */

/* START PLAN */
.plan {
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 115px;
}

.plan_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
  justify-content: center;
}

.plan__title p {
  font-size: 22px;
  color: #f55f8d;
  font-weight: 600;
  margin-bottom: 20px;
}
.plan__title h2 {
  font-size: 70px;
  color: #262626;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 20px;
}

.plan__item {
  padding: 35px 60px;
  border: 3px solid transparent;
  border-radius: 8px;
  color: #fff;
  width: 100%;
  box-shadow: 1px 0 50px rgba(0, 0, 0, 0.1);
  transition: all 1s;
}
.plan__item:hover {
  border: 2px dashed #f55f8d;
  /* stroke-width: 3;
    stroke-dasharray: 6%2c 20; */
}

.plan__item h3 {
  font-size: 2rem;
  color: #262626;
  font-weight: 700;
}

.plan__item img {
  width: 125px;
}

.plan__item p {
  font-size: 18px;
  color: #262626;
  font-weight: 600;
}
.plan__item span {
  font-size: 50px;
  color: #f8ae56;
  font-weight: 800;
}

.plan__item ul {
  text-align: left;
  padding: 15px 0;
  border-top: 1px solid #e1e1f0;
}
.plan__item li {
  padding: 5px 0;
  font-weight: 400;
  font-size: 18px;
  color: #262626;
  list-style: none;
}
.plan__item i {
  font-size: 12px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border-radius: 100%;
  background-color: #feeff3;
  color: #f55f8d;
  margin-right: 15px;
}

/* END PLAN */


/* START Testimonial */
.testimonial{
  text-align: center;
  background-image: url(../img/bg17.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 115px;
}

/* xứ lý phần title */
.testimonial__title p {
  font-size: 22px;
  color: #f55f8d;
  font-weight: 600;
  margin-bottom: 20px;
}
.testimonial__title h2 {
  font-size: 70px;
  color: #262626;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 20px;
}

/* xử lý phần content */

.testimonial__content {
  max-width: 1199px;
  margin: auto;
  text-align: center;
}


/* phần hình ảnh */
.testimonial__thumbs .testimonial__pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 4px;
  position: relative;
  z-index: 2;
  background-color: #f55f8d;
}

.testimonial__thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
}

.testimonial__thumbs::after, .testimonial__thumbs::before {
  content: "";
  width: 30px;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 2;
}

.testimonial__thumbs::before {
  left: 0;
  background: linear-gradient(to right,#fff 0,rgba(255,255,255,0) 100%);
}

.testimonial__thumbs::after {
  right: 0;
  background: linear-gradient(to left,#fff 0,rgba(255,255,255,0) 100%)
}

.testimonial__pic .shape-bx {
  position: relative;
  height: 35px;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18px;
  opacity: 0;
  transition: all 1s;
  background-color: #f55f8d
}

.swiper-slide-thumb-active .testimonial__pic .shape-bx {
  opacity: 1
}

.testimonial__pic .shape-bx::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../img/pattern12.png);
  background-position: bottom;
  background-size: contain;
  height: 100%;
  width: 100%;
  transition: all 1s
}


/* tạo dấu chấm hồng */
.testimonial__pic::after,.testimonial__pic::before {
  content: "";
  background-color: #f55f8d;
  border-radius: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0
}



.testimonial__pic::before {
  height: 15px;
  width: 15px;
  bottom: 30px
}

.testimonial__pic::after {
  height: 10px;
  width: 10px;
  bottom: 0
}

.swiper-slide-thumb-active .testimonial__pic::after,.swiper-slide-thumb-active .testimonial__pic::before {
  opacity: 1
}

.testimonial__thumbs .testimonial__pic {
  padding: 30px 0 0;
  transition: all 0.5s;
}


.testimonial__thumbs .swiper-slide-thumb-active .testimonial__pic {
  padding: 0 0 40px;
}



/* phần nội dung */
.testimonial__comment {
  min-height: 300px;
  width: 100%;
  overflow: hidden;
}

.testimonial__comment .swiper-wrapper {
  padding-bottom: 20px;
}


.testimonial__text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  margin: 0 auto;
  position: relative;
}


.testimonial__text i {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 70px;
  color: #f55f8d;
  transform: rotate(-180deg)
}


.testimonial-name{
  margin: 0px 0px 5px;
}

.testimonial-position{
  margin-bottom: 20px;
}

.swiper-pagination-bullet-active {
  background: #f55f8d
}

.testimonial__text p {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 0 15px 15px;
}

.testimonial__name {
  font-size: 22px;
  font-weight: 800;
  color: #000;
  line-height: 26px;
  margin-bottom: 5px
}


/* END Testimonial */

/* START BLOG */
.blog {
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 115px;

  /* blog__title */
}
.blog__title {
  text-align: center;
}

.blog__title p {
  font-size: 22px;
  color: #f55f8d;
  font-weight: 600;
  margin-bottom: 20px;
}

.blog__title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}

/* blog__content */
.blog__item {
  text-align: left;
  background: rgba(245, 95, 141, 0.1);
  border-radius: 8px;
}

.owl-carousel img {
  display: block;
  width: 100%;
}

.blog__header p {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  position: absolute;
  top: 190px;
  left: 15px;
}

.blog__body {
  padding: 30px 15px 20px 15px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.blog__body h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
}
.blog__footer {
  display: flex;
  align-items: center;
  padding: 15px;
  font-weight: 400;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.blog__footer p:first-of-type {
  margin-right: 20px;
  margin-bottom: 0;
}

.blog__footer p:first-of-type i {
  margin-right: 5px;
  color: #f55f8d;
}
.blog__footer p:first-of-type span {
  color: #f55f8d;
}

.blog__footer p:last-of-type {
  margin-right: 20px;
  margin-bottom: 0;
}
.blog__footer p:last-of-type i {
  margin-right: 5px;
  color: #f55f8d;
}

/* END BLOG */

/* START FOOTER */
footer {
  content: "";
  background-image: url(../img/bg4.png);
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
}

footer::before {
  content: "";
  background-image: url(../img/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* footer__top */
.footer__top {
  background-image: url(../img/pattern3.png);
  background-repeat: no-repeat;
  background-size: 100%;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  background-position: bottom;
  padding: 50px 60px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  background-color: #fff;
  /* background-color: #fff => vì ảnh pattern3 là trong suốt nên để background-color: #fff để đè lên ảnh background footer */
}
.footer__top .footer__text {
  width: 50%;
}
.footer__top .footer__text h2 {
  font-size: 28px;
  color: #262626;
  font-weight: 600;
}

.footer__top .footer__form {
  width: 50%;
}

.footer__top .footer__form form {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
}

.footer__top .footer__form form input {
  padding: 20px;
  width: 80%;
  border-radius: 0.5rem 0 0 0.5rem;
  font-size: 15px;
  color: #888;
  font-weight: 400;
  background: #fff;
  border: 1px solid #fff;
}

.footer__top .footer__form form button {
  width: 20%;
  padding: 20px;
  font-size: 20px;
  color: #fff;
  border-radius: 0 0.5rem 0.5rem 0;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-color: transparent;
  cursor: pointer;

  transition: all 0.5s;
}

.footer__top .footer__form form button:hover {
  color: #fff;
  text-decoration: none;
  background-position: right center;
}

.footer__top .footer__form form i:hover {
  color: #f55f8d;
  transition: all 5s;
  animation: righttoleft 0.5s;
}

@keyframes righttoleft {
  49% {
    transform: translateX(100%);
  }
  50% {
    opacity: 0;
    transform: translateX(-100%);
  }
  51% {
    opacity: 1;
  }
}

/* .footer__bottom */
.footer__bottom {
  display: flex;
  position: relative;
  padding: 70px 0;
}

.footer__item {
  width: 25%;
}
.footer__item img {
  margin-bottom: 10px;
}

.footer__contact li {
  padding: 0.5rem 0;
  list-style: none;
  display: inline-flex;
}
.footer__contact i {
  margin-right: 10px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 50%;
  color: #fff;
}
.footer__contact span {
  color: #fff;
  font-size: 15px;
}

.footer__item h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 30px;
  color: #fff;
  position: relative;
}
/* .footer__item h3::before{
    width: 15px;
} */
.footer__item h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 4px;
  border-radius: 20px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
}
.footer__item h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 25px;
  width: 45px;
  height: 4px;
  border-radius: 20px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
}

.footer__item a {
  text-decoration: none;
  color: #636363;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.5s;
}

.footer__item a:hover {
  color: #fff;
}

.footer__item li {
  padding: 8px 0;
  list-style: none;
  border: none;
}

.footer__item i {
  margin-right: 10px;
}

/* .footer__copyright */

.footer__coryright {
  background-color: #1f343b;
  padding: 10px 0;
  position: relative;
}
.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__left {
  color: #fff;
  font-size: 15px;
}

.footer__left span {
  color: #f55f8d;
}

.footer__right a {
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  /* display: inline-block: để xét kích thước cho icon */
  border-radius: 50%;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}


/* Xử lý BACK TO TOP */
.backToTop{
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 8px;
  background-color: #f55f8d;
  color: #fff;
  box-shadow: #f55f8d;
  position: fixed;
  bottom: 15px;
  right: 15px;
  transition: all .2s;

  /* Kéo xuống 300px thì xuất hiện nút back to top */
  visibility: hidden;
  opacity: 0;
}

.cd-top--is-visible{
  visibility: visible;
  opacity: 1;
}

.backToTop:hover{
  color: #fff;
}


/* END FOOTER */